* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f5f8;
  
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen  and (min-width: 768px){
  .booklist{
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.book img {
  width: 65%;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  color: #617d98;
  font-size:'0.75rem';
  margin-Top: '0.5rem';
  letter-spacing: 2px;
}

.headLine {
  margin-top: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35600;
  color: #fff;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

a {
  outline: none;
  text-decoration: none;
}